<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/html"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.springframework.org/security/tags"
layout:decorator="layout.html">
	<head>
		<title>FWA - Feuerwerk bearbeiten</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/css/main.css}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<div class="container">
 			<th:block th:if="${message != null}">
				<div th:replace="../fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
			</th:block>
		</div>
		<div class="text-center">
			<h2><span th:text="${firework.fireworkName}"></span></h2>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-9 black_dotted_border">
						<div class="green_border">
							<form th:object="${newEvent}" th:method="post" th:action="@{__${firework.id}__/newEvent}">
							<table>
								<tbody>
									<tr>
										<td><span>Neu:</span></td>
										<td><div th:replace="fragments/fwa_components :: textinput(fieldName='Name', path='eventName', componentPlaceholder='EventName')"></div></td>
										<td><div th:replace="fragments/fwa_components :: textinput(fieldName='Time', path='time',componentPlaceholder='Zeitpunkt des Events (s)')"></div></td>
										<td><div th:replace="fragments/fwa_components :: textinput(fieldName='Pin', path='gpioPin',componentPlaceholder='GPIO Pin')"></div></td>
										<td><div th:replace="fragments/fwa_components :: textinput(fieldName='Song', path='song',componentPlaceholder='Song während Event')"></div></td>
										<td><div class="form-group">
											<label></label>
											<select class="form-control" th:field="*{positions}">
												<option value="Master" th:text="Master"></option>
												<option th:each="position : ${positions}" th:value="${position.name}" th:text="${position.name}">
											</select>
										</div></td>
										<td style="text-align:center;">
											<button draggable="false"
												th:title="'Save new Event'" type="submit"
												class="btn btn-default btn-sm">
													<span class="fas fa-save"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</div>
					
	
						<div>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Zeit</th>
										<th>PIN</th>
										<th>Song</th>
										<th>Positions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="event : ${events}">
										<td><span th:text="${event.eventName}">Name</span></td>
										<td><span th:text="${event.time}">Zeit</span></td>
										<td><span th:text="${event.gpioPin}">PIN</span></td>
										<td><span th:text="${event.song}">Song</span></td>
										<td><span th:text="${event.positions}">Position</span></td>
										<td style="text-align:center;">
											<a role="button" draggable="false"
												th:title="'Delete Firework'"
												class="btn btn-default btn-sm"
												th:href="@{__${firework.id}__/delete/__${event.id}__}">
												<span class="fas fa-trash"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-3 black_dotted_border">
						<label>Feuerwerk fertig?</label>
						<input for="completed" type="checkbox">
						<a role="button" draggable="false"
							th:title="'Delete Firework'"
							class="btn btn-default btn-sm">
							<!-- th:href="@{__${firework.id}__/delete/__${event.id}__}" >-->
							<span class="fas fa-save"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${errorMessage}" th:utext="${errorMessage}" class="errorMessage">
			...
		</div>
	</body>
</html>
