<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" style="background-color:red;">
			<div class="row" style="background-color:blue;">
				<div class="col-8" style="background-color:black;">hgf</div>
				<div class="col-4" style="background-color:green;">hgf</div>
			</div>
			<div class="row" style="background-color:purple;">
				<div class="col-3" style="background-color:white;">hgf</div>
				<div class="col-9" style="background-color:gray;">hgf</div>
			</div>
		</div>
	</body>
</html>